.SpeakerCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  background-color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 0.36rem;
  gap: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.SpeakerCardContainer img {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
}
.SpeakerCardContainer div:first-of-type {
  font-weight: 500;
}
