.SinglePageContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 4rem;
  margin-right: 4rem;
}
.SingleEventPageContainer {
  box-sizing: border-box;
}
.LeftSingleEventPage,
.RightSingleEventPage,
.HostedDetails,
.AdditionaDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.4rem;
}
.LeftSingleEventPage {
  gap: 2rem;
}
.HostedByName,
.AdditionaDetails span {
  font-weight: 600;
}
.DetailsHeader {
  font-weight: 600;
  font-size: 1.8rem;
}
.LeftSingleEventPage img {
  width: 40rem;
}
.Description {
  max-width: 40rem;
}
.AdditionaDetails {
  gap: 1rem;
}
.EventTags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.EventTags button,
.RVPContainer button {
  height: 3rem;
  width: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.36rem;
  color: white;
  background-color: #f6415f;
}
.TimePlaceDetails {
  background-color: white;
  padding: 2rem;
  border-radius: 0.36rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.TimeDetails,
.PlaceDetails {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-start;
}
.SpeakerList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.RVPContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.RVPContainer button {
  margin-top: 2rem;
}
